@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



.wrapper {}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.case {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}



.subheading {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    color: #921104;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
    font-size: 16px;
    line-height: 130%;
    color: #5F0A01;
}



.page {}

.page__seamless {
    background-color: #FAFAFA;

    padding: 50px 0;
}

.page__inside {
    padding: 50px 0 66px;
}

.page__roster {
    background-color: #FAFAFA;

    padding: 50px 0;
}

.page__scaling {
    padding: 50px 0 49px;
}



.seamless {}

.seamless__heading {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #A42A04;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 10px;
}

.seamless__subheading {
    margin-bottom: 15px;
}

.seamless__text {
    margin-bottom: 33px;
}

.seamless__wrap-image {
    width: 150px;
    margin: 0 auto;

    margin-bottom: 39px;
}

.seamless__image {
    border: 1px solid #921104;
    box-shadow: 0px 4px 6px #921104;
    border-radius: 10px;

    max-width: 100%;
}

.seamless__text {
    max-width: 600px;
}


.inside {}

.inside__subheading {
    margin-bottom: 16px;
}

.inside__text {
    margin-bottom: 40px;
}

.inside__wrap-image {
    max-width: 270px;
    margin: 0 auto;
}

.inside__image {
    border: 3px solid #921104;
    box-shadow: -5px 5px 10px #921104;
    border-radius: 0px 10px;

    max-width: 100%;
}



.roster {}

.roster__subheading {
    margin-bottom: 10px;
}

.roster__text {
    margin-bottom: 17px;
}

.roster__list {
    font-size: 14px;
    line-height: 130%;
    color: #5F0A01;
}

.roster__item {
    margin-bottom: 15px;

    padding-left: 26px;
    margin-left: 31px;

    background-image: url("./../img/check.svg");
    background-repeat: no-repeat;
}



.roster__item:nth-child(2) {
    font-style: italic;
    background-position-y: 2px;
}

.roster__item:nth-child(3) {
    font-weight: 700;
    font-size: 16px;
    background-position-y: 4px;
}

.roster__item:nth-child(4) {
    font-size: 16px;
    color: #C94436;
    background-position-y: 3px;
}

.roster__item:last-child {
    margin-bottom: 0;
}



.scaling {}

.scaling__subheading {
    margin-bottom: 10px;
}

.scaling__text {
    margin-bottom: 33px;
}

.scaling__wrap-image {
    height: 303px;
}

.scaling__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top left;
}



.footer {
    padding: 50px 0 14px;
    background-color: #FAFAFA;
}

/* .footer__hr {
    background: #921104;
    height: 2px;

    margin-bottom: 18px;
} */


.footer__copy {
    border-top: 2px solid #921104;
    padding-top: 18px;

    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: #AAAAAA;
}